@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(255, 255, 255, 1);
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-assistant);
  direction: rtl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px; 
} 

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    background-color: white !important; /* רקע לבן במקום כחול */
    color: black !important; /* צבע טקסט תקין */
    transition: background-color 5000s ease-in-out 0s;
}
